<nav class="menu">
  <ul class="menu-root">
    <li><a href="#" onclick="showSection('home')">Accueil</a></li>
    <li>
      <span class="menu-head">Tirages</span>
      <ul class="submenu">
        <li><a href="#" onclick="showSection('tirage')">Tirage</a></li>
        <li><a href="#" onclick="showHistorique()">Historique</a></li>
        <li><a href="#" onclick="showSection('scraping')">Scrapping</a></li>
      </ul>
    </li>
    <li>
      <span class="menu-head">IA</span>
      <ul class="submenu">
        <li><a href="#" onclick="showSection('ia-config')">Configuration</a></li>
        <li><a href="#" onclick="showSection('training')">Training</a></li>
        <li><a href="#" onclick="showSection('t2')">T2</a></li>
      </ul>
    </li>
    <li>
      <span class="menu-head">Admin</span>
      <ul class="submenu">
        <li><a href="#" onclick="showSection('admin-diagnostic')">Diagnostic</a></li>
        <li><a href="#" onclick="showSection('admin-monitoring')">Monitoring</a></li>
      </ul>
    </li>
  </ul>
</nav>
