<nav class="menu">
  <ul class="menu-root">
    <li><a href="#" data-page="home">Accueil</a></li>
    <li>
      <span class="menu-head">Tirages</span>
      <ul class="submenu">
        <li><a href="#" data-page="tirage">Tirage</a></li>
        <li><a href="#" onclick="showHistorique()">Historique</a></li>
        <li><a href="#" data-page="scraping">Scrapping</a></li>
      </ul>
    </li>
    <li>
      <span class="menu-head">IA</span>
      <ul class="submenu">
        <li><a href="#" data-page="ia-config">Configuration</a></li>
        <li><a href="#" data-page="training">Training</a></li>
      </ul>
    </li>
    <li>
      <span class="menu-head">Admin</span>
      <ul class="submenu">
        <li><a href="#" data-page="status">Statut</a></li>
        <li><a href="#" data-page="admin-diagnostic">Diagnostic</a></li>
        <li><a href="#" data-page="admin-monitoring">Monitoring</a></li>
      </ul>
    </li>
  </ul>
</nav>
